.kpi-header {
   margin: 0 0 10px 0;
   text-align: center;
   text-transform: uppercase;
}

.kpi-footer {
   margin-top: 10px;
   text-align: center;
   text-transform: uppercase;
   color: gray;
}

.kpi-main {
   height: 240px;
}

.kpi-value {
   font-size: 50px;
   text-align: right;
   padding-top: 20px;
}

.kpi-value-text {
   font-size: 15px;
   text-align: right;
   text-transform: uppercase;
   font-weight: bold;
   margin-top: -10px;
}